App_WebReferences/BLSDP/BLSDP_CGW.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ChargingProcess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MSISDN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PortalCode_Port_VU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContentCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PortalCategoryCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChargingProcessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChargingProcessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChargingProcessSoapIn">
    <wsdl:part name="parameters" element="tns:ChargingProcess" />
  </wsdl:message>
  <wsdl:message name="ChargingProcessSoapOut">
    <wsdl:part name="parameters" element="tns:ChargingProcessResponse" />
  </wsdl:message>
  <wsdl:portType name="BLSDP_CGWSoap">
    <wsdl:operation name="ChargingProcess">
      <wsdl:input message="tns:ChargingProcessSoapIn" />
      <wsdl:output message="tns:ChargingProcessSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLSDP_CGWSoap" type="tns:BLSDP_CGWSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChargingProcess">
      <soap:operation soapAction="http://tempuri.org/ChargingProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BLSDP_CGWSoap12" type="tns:BLSDP_CGWSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChargingProcess">
      <soap12:operation soapAction="http://tempuri.org/ChargingProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BLSDP_CGW">
    <wsdl:port name="BLSDP_CGWSoap" binding="tns:BLSDP_CGWSoap">
      <soap:address location="http://192.168.10.22/blsdp_cgw/BLSDP_CGW.asmx" />
    </wsdl:port>
    <wsdl:port name="BLSDP_CGWSoap12" binding="tns:BLSDP_CGWSoap12">
      <soap12:address location="http://192.168.10.22/blsdp_cgw/BLSDP_CGW.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>