App_WebReferences/SDPCGW/SDPCGW.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SelfTest">
        <s:complexType />
      </s:element>
      <s:element name="SelfTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelfTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChargeMSISDN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MSISDN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChargingKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PortalCode_Port_VU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContentCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PortalCategoryCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChargeMSISDNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChargeMSISDNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelfTestSoapIn">
    <wsdl:part name="parameters" element="tns:SelfTest" />
  </wsdl:message>
  <wsdl:message name="SelfTestSoapOut">
    <wsdl:part name="parameters" element="tns:SelfTestResponse" />
  </wsdl:message>
  <wsdl:message name="ChargeMSISDNSoapIn">
    <wsdl:part name="parameters" element="tns:ChargeMSISDN" />
  </wsdl:message>
  <wsdl:message name="ChargeMSISDNSoapOut">
    <wsdl:part name="parameters" element="tns:ChargeMSISDNResponse" />
  </wsdl:message>
  <wsdl:portType name="SDPCGWSoap">
    <wsdl:operation name="SelfTest">
      <wsdl:input message="tns:SelfTestSoapIn" />
      <wsdl:output message="tns:SelfTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChargeMSISDN">
      <wsdl:input message="tns:ChargeMSISDNSoapIn" />
      <wsdl:output message="tns:ChargeMSISDNSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SDPCGWSoap" type="tns:SDPCGWSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelfTest">
      <soap:operation soapAction="http://tempuri.org/SelfTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChargeMSISDN">
      <soap:operation soapAction="http://tempuri.org/ChargeMSISDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SDPCGWSoap12" type="tns:SDPCGWSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelfTest">
      <soap12:operation soapAction="http://tempuri.org/SelfTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChargeMSISDN">
      <soap12:operation soapAction="http://tempuri.org/ChargeMSISDN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SDPCGW">
    <wsdl:port name="SDPCGWSoap" binding="tns:SDPCGWSoap">
      <soap:address location="http://192.168.10.5/SDP_CGW/SDPCGW.asmx" />
    </wsdl:port>
    <wsdl:port name="SDPCGWSoap12" binding="tns:SDPCGWSoap12">
      <soap12:address location="http://192.168.10.5/SDP_CGW/SDPCGW.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>